[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["photosurfactant"]

[project]
name = "photosurfactant"
version = "2024.0"
description="""Numerical solvers and figures produced for the photo-actuated control of two-dimensional viscous liquid layers."""
authors = [
    { name = "Niall Oswald", email = "niall.oswald20@imperial.ac.uk" },
]
dependencies = [
    "numpy",
    "matplotlib",
    "scipy",
]

[project.scripts]
plot_error = "photosurfactant.scripts.plot_error:plot_error"
plot_first_order = "photosurfactant.scripts.plot_first_order:plot_first_order"
plot_leading_order = "photosurfactant.scripts.plot_leading_order:plot_leading_order"
plot_spectrum = "photosurfactant.scripts.plot_spectrum:plot_spectrum"
